<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Rida shop</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <div data-v-70cdac70="">
            <div data-v-9241de2e="" data-v-70cdac70="" class="home">
                <div data-v-9241de2e="" class="app-download-nav">
                    <div data-v-9241de2e="" class="app-download-nav-box">
                        <div data-v-9241de2e="" class="app-img"><img data-v-9241de2e="" src="/images/download.png"></div>
                        <div data-v-9241de2e="" class="app-info">Sử dụng ứng dụng để mở.</div>
                        <div data-v-9241de2e="" class="down">
                            <a data-v-9241de2e="" href="" class="btn-down">Tải xuống</a>
                        </div>
                        <div data-v-9241de2e="" class="close">
                            <i data-v-9241de2e="" class="van-icon van-icon-cross">
                                <!---->
                            </i>
                        </div>
                    </div>
                </div>
                <div data-v-9241de2e="" class="header">
                    <div data-v-9241de2e="" class="header-text">
                        <img data-v-9241de2e="" src="/images/header_top.png" style="width: 100%; box-sizing: content-box;z-index: 1;"></div>
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner owl-carousel owl-theme">
                            <div class="carousel-item img-baer item active">
                                <img data-v-9241de2e="" src="/img/index-banner__left.png" alt="" class="header-img-item__left-img" style="width: 58px; height: auto;z-index: 1;transform: translateY(-22px);">
                                <img src="/img/6372928266690554905186489.jpg" class="d-block w-100" alt="..." style="width: calc(100vw - 80px)!important;transform: translateX(60px);">
                                <div data-v-9241de2e="" class="header-img-right fade-enter-active fade-enter-to" style="background-color: rgb(0, 184, 169);width: 0;">
                                    <div data-v-9241de2e="" class="header-img-text"> ELEGANT BEAUTY </div>
                                </div>
                            </div>
                            <div class="carousel-item img-baer item active">
                                <img data-v-9241de2e="" src="/img/index-banner__left.png" alt="" class="header-img-item__left-img" style="width: 58px; height: auto;z-index: 1;transform: translateY(-22px);">
                                <img src="/img/6372928266102248488263648.jpg" class="d-block w-100" alt="..." style="width: calc(100vw - 80px)!important;transform: translateX(60px);">
                                <div data-v-9241de2e="" class="header-img-right fade-enter-active fade-enter-to" style="background-color: rgb(0, 184, 169);width: 0;">
                                    <div data-v-9241de2e="" class="header-img-text"> EXCELLENT FINGER </div>
                                </div>
                            </div>
                            <div class="carousel-item img-baer item active">
                                <img data-v-9241de2e="" src="/img/index-banner__left.png" alt="" class="header-img-item__left-img" style="width: 58px; height: auto;z-index: 1;transform: translateY(-22px);">
                                <img src="/img/6372928267972289639689020.jpg" class="d-block w-100" alt="..." style="width: calc(100vw - 80px)!important;transform: translateX(60px);">
                                <div data-v-9241de2e="" class="header-img-right fade-enter-active fade-enter-to" style="background-color: rgb(0, 184, 169);width: 0;">
                                    <div data-v-9241de2e="" class="header-img-text"> ELEGANT BEAUTY </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!--END SLIDE-->
                    <div data-v-9241de2e="" class="nav" style="display: block;margin-top: 18px;">
                        <ul data-v-9241de2e="">
                            <li data-v-9241de2e="">
                                <a data-v-9241de2e="" url="/home/search?searchKey=Clothing"><img data-v-9241de2e="" src="/images/6372928272844170005593110.png" class="img"></a>
                                <p data-v-9241de2e="" class="nav-p">quần áo</p>
                            </li>
                            <li data-v-9241de2e="">
                                <a data-v-9241de2e="" url="/home/search?searchKey=Shoes"><img data-v-9241de2e="" src="/images/6372928274292053082224202.png" class="img"></a>
                                <p data-v-9241de2e="" class="nav-p">Giày</p>
                            </li>
                            <li data-v-9241de2e="">
                                <a data-v-9241de2e="" url="/home/search?searchKey=Bags"><img data-v-9241de2e="" src="/images/6372928274878169146065061.png" class="img"></a>
                                <p data-v-9241de2e="" class="nav-p">Túi</p>
                            </li>
                            <li data-v-9241de2e="">
                                <a data-v-9241de2e="" url="/notice/index"><img data-v-9241de2e="" src="/images/6372928275685518041122024.png" class="img"></a>
                                <p data-v-9241de2e="" class="nav-p">Để ý</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-v-9241de2e="" role="alert" class="van-notice-bar">
                    <div role="marquee" class="van-notice-bar__wrap">
                        <div class="van-notice-bar__content" style="transition-duration: 0s;">Member8173 : AELOMART Men's Regular Fit T-Shirt *6 - Member8173 : AELOMART Men's Regular Fit T-Shirt *3 - Member8173 : AELOMART Men's Regular Fit T-Shirt *1 - Member8173 : AELOMART Men's Regular Fit T-Shirt *33 - Member8173 : AELOMART
                            Men's Regular Fit T-Shirt *49</div>
                    </div>
                    <i class="van-icon van-icon-cross van-notice-bar__right-icon">
                        <!---->
                    </i>
                </div>
                <div data-v-9241de2e="" class="recommend">
                    <div data-v-9241de2e="" class="recommend-header">
                        <div data-v-9241de2e="" class="main">
                            <span data-v-9241de2e="" class="main-item">RECOMMEND<i data-v-9241de2e=""></i>
                        </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="">
                        <div data-v-9241de2e="" style="width: 100%; height: 200px; background-color: rgb(242, 242, 242); margin: 10px 0px 6px;"><img data-v-9241de2e="" scr="/img/6372928278604379401560955.jpg" src="/img/6372928278604379401560955.jpg" lazy="loaded" style="width: 100%; height: 100%;"></div>
                    </div>
                    <div data-v-9241de2e="">
                        <style>
                            .nav1 {
                                display: flex;
                                justify-content: space-around;
                            }
                            
                            .nav1 img {
                                object-fit: cover;
                                width: 100%;
                                flex: 1;
                                max-height: 144.734px;
                            }
                            
                            .nav1 p span {
                                color: #FF9A00;
                            }
                            
                            .nav1 p {
                                text-align: center;
                            }
                        </style>
                        <div class="nav1">
                            <div>
                                <img src="/img/6372840886011050159921534.jpg" alt="">
                                <p><span>₫</span> 187.000</p>
                            </div>
                            <div>
                                <img src="/img/6372841003192804009695301.jpg" alt="">
                                <p><span>₫</span> 487.000</p>
                            </div>
                            <div>
                                <img src="/img/6373110000941437668834657.jpg" alt="">
                                <p><span>₫</span> 287.000</p>
                            </div>
                        </div>
                        <div data-v-9241de2e="" style="width: 100%; height: 200px; background-color: rgb(242, 242, 242); margin: 10px 0px 6px;">
                            <img data-v-9241de2e="" scr="/img/6372928283438425928507773.jpg" src="/img/6372928283438425928507773.jpg" class="owjdw" lazy="loaded" style="width: 100%; height: 100%;">
                        </div>
                        <div class="nav1">
                            <div>
                                <img src="/img/6372840844627585745011534.jpg" alt="">
                                <p><span>₫</span> 187.000</p>
                            </div>
                            <div>
                                <img src="/img/6372840880965432751880115.jpg" alt="">
                                <p><span>₫</span> 487.000</p>
                            </div>
                            <div>
                                <img src="/img/6372840774443810711986563.jpg" alt="">
                                <p><span>₫</span> 287.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-9241de2e="" class="products">
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs">
                            <img data-v-9241de2e="" src="/img/6373110000941437668834657.jpg" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">AELOMART Men's Regular Fit T-Shirt</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em>
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 787.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs"><img data-v-9241de2e="" src="/img/6373040697996588925144289.jpg" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Scott International Men's Regular Fit T-Shirt (Pack of 3)</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 371.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs"><img data-v-9241de2e="" src="/img/6372840745154247206156803.jpg" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Blacked Women's T-Shirt</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 352.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs"><img data-v-9241de2e="" src="/img/6372840737212899064166749.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Fabricorn Women's T-Shirt</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 361.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs">
                            <img data-v-9241de2e="" src="/img/6372840689877391329911310.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Sparx Men's Sm-323 Dip Canvas Shoes - Black</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 527.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs">
                            <img data-v-9241de2e="" src="/img/6372840729105311208053605.jpg" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Inklenzo Men's Mesh Quality Black LT Running Sports Walking Casual Sneakers Shoes Size 6,7,8,9,10</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 623.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs">
                            <img data-v-9241de2e="" src="/img/6372840681331996044496725.jpg" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">Power Men's Keith Running Shoes</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 715.000</b>
                            </span>
                        </div>
                    </div>
                    <div data-v-9241de2e="" class="product-box-item">
                        <div data-v-9241de2e="" class="product-imgs">
                            <img data-v-9241de2e="" src="/img/6373109717043750089645427.jpg" lazy="loading" style="object-fit: cover;"></div>
                        <div data-v-9241de2e="" class="item-info">
                            <div data-v-9241de2e="" class="content-info-title">ASIAN Cosco Sports Running Shoes for Men</div>
                            <span data-v-9241de2e="" class="money">
                                <em data-v-9241de2e="">₫</em> 
                                <b data-v-9241de2e="" style="font-weight: 500; font-size: 15px;"> 720.000</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div data-v-9241de2e="" class="site-tabbar" style="height: 75px">
                    <div data-v-f804e3cc="" data-v-9241de2e="" class="period-box">Không còn dữ liệu</div>
                </div>
                <div data-v-9241de2e="" class="index_about_nav">
                    <span data-v-9241de2e="">Về chúng tôi</span>
                    <span data-v-9241de2e="">Chính sách bảo mật</span>
                    <span data-v-9241de2e="">Thỏa thuận rủi ro</span>
                    <span data-v-9241de2e="">Tuyên bố ứng dụng</span>
                    <span data-v-9241de2e="">Chính sách hoàn lại tiền</span>
                    <span data-v-9241de2e="">điều khoản kèm theo </span>
                    <span data-v-9241de2e="">Liên hệ chúng tôi</span>
                    <div data-v-9241de2e=""></div>
                </div>
                <div data-v-9241de2e="" class="site-tabbar">
                    <div class="bottom-bar van-hairline--top-bottom van-tabbar van-tabbar--fixed">
                        <div class="van-tabbar-item van-index-item1 van-tabbar-item--active">
                            <div class="van-tabbar-item__icon">
                                <img class="img1" src="/images/home1.png">
                                <!---->
                            </div>
                            <div class="van-tabbar-item__text">
                                <span>Trang chủ</span>
                            </div>
                        </div>
                        <div class="van-tabbar-item van-index-item4">
                            <div class="van-tabbar-item__icon">
                                <img src="/images/search.png">
                            </div>
                            <div class="van-tabbar-item__text">
                                <span>Tìm kiếm</span>
                            </div>
                        </div>

                        <div class="van-tabbar-item van-index-item2">
                            <div class="van-tabbar-item__icon">
                                <img class="img2" src="/images/parity1.png">
                                <!---->
                            </div>
                            <div class="van-tabbar-item__text">
                                <span>winGO</span>
                            </div>
                        </div>

                        <div class="van-tabbar-item van-index-item3">
                            <div class="van-tabbar-item__icon">
                                <img class="img3" src="/images/ucenter.png">
                                <!---->
                            </div>
                            <div class="van-tabbar-item__text">
                                <span>Của tôi</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
    <script src="/js/chuck.core.js"></script>
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var checkToken = getCookie('token');
        if (checkToken != "") {
            $('.van-index-item4').addClass('closer');
            $('.van-index-item4').html('<div class="van-tabbar-item__icon"><img class="img2" src="/images/parity1.png"><!----></div><div class="van-tabbar-item__text"><span>winGO</span></div>');
        } else {
            $('.van-index-item2').addClass('closer');
            $('.van-index-item4').html('<div class="van-tabbar-item__icon"><img src="/images/search.png"></div><div class="van-tabbar-item__text"> <span>Tìm kiếm</span>  </div>');
        }
        setTimeout(() => {
            //default settings: 
            autoplay: false
            autoplayTimeout: 1900
            autoplayHoverPause: false
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 1900,
                autoplayHoverPause: true
            });
        }, 900);
    </script>

</body>

</html>